<mat-toolbar class="bgHeader">
  <ul>
    <a *ngIf="auth.loggedIn()" routerLink="listTask">Listar Tareas</a>
  </ul>
  <ul>
    <a *ngIf="auth.loggedIn()" routerLink="saveTask">Crear Tareas</a>
  </ul>
  <ul>
    <a *ngIf="auth.loggedIn()" routerLink="listUser">Admin</a>
  </ul>
  <span class="headerSpacer"></span>
  <ul>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="register">Register</a>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="login">Login</a>
    <a *ngIf="auth.loggedIn()" mat-button>Logout</a>
  </ul>
</mat-toolbar>
